{% extends "portfolio/layout.html" %}
{% block contents %}
{% load static %}
{% load imagekit %}
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>JORDAN BAE | 배 두 식 <pre>{% now "Y F d D H:i" %} </pre></h2></a>

					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <div id="main">
	<div class="inner">
		<header>
			<!--<form action='/index/' method="GET">-->
	  		  <ul class="actions">
                <li><a href="{% url "portfolio:profile" %}" class="button special small searchtag">About</a></li>
	  		  	<li><a href="{% url "portfolio:main_view" %}" class="button small searchtag">All</a></li>
	  		  	<li><a href="{% url "portfolio:elec" %}" class="button small searchtag">Electronic Eng</a></li>
	  		  	<li><a href="{% url "portfolio:startup" %}" class="button small searchtag">Start-up</a></li>
	  		  	<li><a href="{% url "portfolio:project" %}" class="button small searchtag">Project</a></li>
                <li><a href="{% url "portfolio:experience" %}" class="button small searchtag">Experience</a></li>
                <li><a href="{% url "portfolio:resume" %}" class="button small searchtag">RESUME</a></li>
	  		  </ul>
  		  <!--</form>-->
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>
                <h2> {{ post.title }}</h2>
                <h3>{{ post.category }}&nbsp&nbsp{{ post.period }}</h3>
                <div class="row uniform">
                {% if post.photo1 %}
                    {% thumbnail "600x600" post.photo1 %}
                {% endif %}
                {% if post.photo2 %}
                    {% thumbnail "600x600" post.photo2 %}
                {% endif %}
                </div><br>
                <p>I realized that I would like to start my career after seeing many wonderful startups in 2016 Barcelona MWC,
                    and I had a dream to start my own business someday. I wanted to enter the startup for my last year in univ.
                    While thinking about business items, I started concentrating on the ‘ Mobile Used coupon platforms ’.
                The reason why I'm interested in the so-called " Mobile Used Coupon " is that it is now a market that has an inconvenient trading system, so it's a market for existing users,
                    so it's a market for existing users to deliver the value of " saving time " and " saving money " to people who don't use it.</p>
                <p> 2016 바르셀로나 MWC 에서  여러 멋진 스타트업들을 만나고온 후 스타트업에서 일하고 싶다는 생각을 가지게  됐고, 언젠가는 직접 창업을 해야겠다는 꿈을 가지게 됐습니다.
                 대학교 졸업 후 취업이 정해진 상황에서 1년 이라는 시간 동안 스타트업에 뛰어들고 싶었습니다. 사업 아이템에 대해 생각하던 중 ‘모바일 중고 쿠폰 플랫폼’ 에 대해 집중해서 조사하기 시작했습니다.
                    제가 ‘모바일 중고 쿠폰 시장’ 에 관심을 갖게 된 이유는 먼저 이 시장은 현재 불편한 거래시스템을
                    가지고 있어 거래절차를 간단하고 안전하게 만듬으로써 기존 이용자들에게는 ‘시간’ ,
                    ‘에너지 절약’ 이라는 가치를 전달하고, 기존에 이용하지 않는 사람들에게 ‘비용 절약’ 이라는 가치를 전달할 수 있는 시장이라고 생각했기 때문입니다. </p>
                <h3>현재 모바일 중고 쿠폰 거래과정 , ex) 스타벅스 아메리카노 쿠폰</h3>
                <img src="{% static 'portfolio/assets/dodream_process-2.png' %}"/>
                <p>뽐뿌 or 중고시장에서 개인과 개인간의 직거래 ( 쿠폰의 사용여부 알 수 없음, 구매자는 판매자에게 선입금, 판매자는 직접 연락해야함)
                    <br>이런 불편함을 감소하면 4100원짜리 스타벅스 커피를 3100~ 3400원 정도에 구매가 가능합니다.<br></p>
                <p></p>
                <p></p>
                <em><h2 style="text-align:center;color: blue">대부분의 사람들은 이런 불편함 때문에 이용하지 않고 있다는 것을 착안했습니다.</h2></em>
                <h3><br>이 거래프로세스를 다음과 같이 간소화 시켜 가치를 만들어 전달하고 싶었습니다.</h3>
                <img src="{% static 'portfolio/assets/dodream_process_1.png' %}"/>
                <p><br>위 사업아이템으로 저는 창업동아리에 지원하여 선정되어 창업 동아리를 1년 동안 운영하면서  비즈니스에 필요한 여러 과정을 직접 경험할 수 있었습니다. </p>
                <h2>주요 내용</h2>
                    <table>
                        <li>시장조사( 시장 세분화, 거점시장, 거점고객, 경쟁사 조사, 설문조사, 타겟 고객 인터뷰)</li>
                        <li>비즈니스 모델 개발</li>
                        <li>프로토타입 개발</li>
                        <li>서강 스타트업 서바이벌 과정 이수</li>
                        <li>모의 크라우드 펀딩대회 참여</li>
                        <li>2016 글로벌 챌린지 본선 진출(in 실리콘밸리)<br></li>
                    </table>
                <p>1년 동안을 사업아이템을 발전시켜나갔지만 결과적으로 사업화에 성공하지 못했습니다. 가장 큰 이유는 안전한 거래시스템 개발에 실패했기 때문입니다.
                하지만, 1년 동안 저는 다양한 방면으로 생각해 볼 수 있었고, 치열하게 고민하고 배울수 있었습니다. 1년 동안 창업동아리 경험은 제가 스타트업을 이해하고 운영하는데 있어
                큰 도움이 될거라 생각합니다.</p>
                <h3>관련 사진</h3>
                <div class="row">
                    <img src="{% static 'portfolio/assets/dodream_5.png' %}"/>
                    <img src="{% static 'portfolio/assets/global3.png' %}"/>
                    <img src="{% static 'portfolio/assets/global4.png' %}"/>
                </div>
                <br>
            </div>
    </div>
    </div>
{% endblock %}