{% extends 'portfolio/layout.html' %}
{% load static  %}
{% block contents %}
<!-- Wrapper -->
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>JORDAN BAE | 배 두 식 <pre>{% now "Y F d D H:i" %} </pre></h2></a>

					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <div id="main">
	<div class="inner">
		<header>
			<!--<form action='/index/' method="GET">-->
	  		  <ul class="actions">
	  		  	<li><a href="/index/all" class="button special small searchtag">All</a></li>
	  		  	<li><a href="/index/humanity" class="button small searchtag">Electronic Eng</a></li>
	  		  	<li><a href="/index/education" class="button small searchtag">Start-up</a></li>
	  		  	<li><a href="{% url "portfolio:project" %}" class="button small searchtag">Project</a></li>
                <li><a href="/index/interaction" class="button small searchtag">Experience</a></li>
                <li><a href="{% url "portfolio:resume" %}" class="button small searchtag">RESUME</a></li>
	  		  </ul>
  		  <!--</form>-->
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>

		<section class="tiles">

			<article class=style1>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index vrpoetry ff8f2c7ed724ff57cd3d3e0c928cd0ac7c5ae19ea1dca2d60820e9fa73a102bf" />
				</span>
				<a href="/VRpoetry">
					<h2>VR Poetry</h2>
					<div class="content">
						<p>A next storytelling medium for poetry representing a text poem into a visual form of tree structure.</p>
					</div>
				</a>
			</article>
			<article class=style2>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index remembar fe9e08926329487451cb1cdc3f85508f94a9f888c408d2be91190711b7ffaa7f" />
				</span>
				<a href="/remembar">
					<h2>Remembar</h2>
					<div class="content">
						<p>A new type of digital clock specially designed for daily scheduling.</p>
					</div>
				</a>
			</article>
			<article class=style3>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index immersiveclassroom aee15d88848b393d4c466e8d4b544f1337095fe3ec77249116cd391a34273385" />
				</span>
				<a href="/immersiveclassroom">
					<h2>Immersive Classroom</h2>
					<div class="content">
						<p>A collaborative research project with d&#39;Strict and Jeju Marine Science Museum.</p>
					</div>
				</a>
			</article>
			<article class=style4>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index underwater2 18b110b0b871e439df0e2d8d161928a05c9a2ce7c57c10534642906df3cfc4a9" />
				</span>
				<a href="/underwater">
					<h2>Underwater Experience</h2>
					<div class="content">
						<p>A VR content where you can explore ancient sea and observe prehistoric sea creatures.</p>
					</div>
				</a>
			</article>
			<article class=style5>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index lango 5cbe1fde45a34f742fc73bdbc608ca2fcb99f0e840e29e15990712775e468388" />
				</span>
				<a href="/lango">
					<h2>Lango</h2>
					<div class="content">
						<p>Interactive cubes specially desiged for language learning.</p>
					</div>
				</a>
			</article>
			<article class=style6>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index bndstreet b6c6636abd600eaf0764a6870d707731d2a5a6cd47d658ef318089dd7fb2b758" />
				</span>
				<a href="/baekbeomro">
					<h2>Baekbeom-ro &amp; Daeheung-ro</h2>
					<div class="content">
						<p>A documentary film about contrasting worlds on two diffrent streets, Baekbeom-ro and Daheung-ro.</p>
					</div>
				</a>
			</article>
			<article class=style1>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index charatergraphy b81121466900e53f379bd08dcab3719bfc2069d26a1c1c7fa1dd1c943131142a" />
				</span>
				<a href="/charactergraphy">
					<h2>Charactergraphy</h2>
					<div class="content">
						<p>An imaginary biography writing and character building for sophisticated storytelling.</p>
					</div>
				</a>
			</article>
			<article class=style2>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index invisiblecities c0e55e71b31756b23d2a81ba36369719e907369aa5dfe0f047f8177afd91d86c" />
				</span>
				<a href="/visualbook">
					<h2>Visaul Book - Invisible Cities</h2>
					<div class="content">
						<p>A visual book made of sand, inspired by Invisible cities by Italo Calvino</p>
					</div>
				</a>
			</article>
			<article class=style3>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index colormix 274e18fd56fef943770a5d139f8a881c5c9c94baa800b46c6c326c588f92384c" />
				</span>
				<a href="/colormix">
					<h2>Color Mix</h2>
					<div class="content">
						<p>A 3D art game that you can make new colors by combining the lights from the primary color balls</p>
					</div>
				</a>
			</article>
			<article class=style4>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index drawncrack 468c0ac07fbf5c33290a98962276719b59db726edd8e573dd58c0c54cf862ba5" />
				</span>
				<a href="/drawncrack">
					<h2>Draw &amp; Crack</h2>
					<div class="content">
						<p>A tablet game for two players where you can draw walls to bounce the ball or crack other player&#39;s walls to win the game.</p>
					</div>
				</a>
			</article>
			<article class=style5>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Index woozu e6105eea428d4bc043635391fda409bce838544584673614418453ec0e593051" />
				</span>
				<a href="/woozu">
					<h2>WOOZU</h2>
					<div class="content">
						<p>A 3D printing contents web market where users can easily customize 3d models.</p>
					</div>
				</a>
			</article>
			<article class=style6>
				<span class="image">
					<img src="{% static "portfolio/assets/example1.jpg" %}" alt="Pic03 21fb7a0c4d72f217f94e13294b62096560a3fe9a14047e2de3329cf5e5e01923" />
				</span>
				<a href="/#">
					<h2>Radiance Lab</h2>
					<div class="content">
						<p>Radiant Heating Technology</p>
					</div>
				</a>
			</article>

		</section>
	</div>
</div>

{% endblock %}