{% load static  %}
{% load imagekit %}

<!DOCTYPE html>
<html>
<head>


	<link rel="stylesheet"  href="{% static "portfolio/assets/style1.css"  %}"  />
    <link rel="stylesheet" href="dreamcodes/social_icons/tsc_social_icons.css" />
	<script src="{% static "portfolio/javascripts/application1.js"  %}" data-turbolinks-track="true"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />


	<!--[if lte IE 8]><script src="https://s3.ap-northeast-2.amazonaws.com/portfolio37/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" media="screen" href="{% static "portfolio/assets/main.css"  %}" />
	<!--[if lte IE 9]><link rel="stylesheet" media="screen" href="/assets/ie9-426537096aa08fb6d8f2a0c9673f7e41b020509b48bd39a3ae503ae2536176c6.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="/assets/ie8-8c87ca00e45f53d90a6c5c87acf8f5dae7b0a8092eebc79ba252e0eb9ccd28ce.css" /><![endif]-->

	<title>JORDAN X BAE</title>
	<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
	<style>

		.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	</style>
</head>
<body>
{% block contents %}

{% endblock %}


<script>

// $(function(){
// 	$(".searchtag").click(function(){
// 		search_tag = this.id;

// 		$.ajax({
// 			method: "GET",
// 			url: "/index",
// 			data: {content: search_tag},
// 			success: function(){
// 				alert("성공");
// 			},
// 			error: function(){
// 				alert(this.id);
// 			}


// 		})

// 	})
// });
</script>

  	<!-- Menu -->
  		<nav id = "menu">
  			<h2>Menu</h2>
  			<ul>
  				<li><a href="{% url "portfolio:profile" %}">About</a></li>
  				<li><a href="/">Works</a></li>
  				<!--<li><a href="generic">Drawings</a></li>-->
  				<li><a href="/awards">Awards & Honours</a></li>
  				<!--<li><a href="/#">CV</a></li>-->
  				<!--<li><a href="elements">Elements</a></li>-->
  			</ul>
  		</nav>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Get in touch</h2>
						<p><strong>Phone</strong>&nbsp +82)10-4773-8238
						<br><strong>Email</strong>&nbsp qoentlr37@naver.com</p>
						<p>Currently lives in Seoul, South Korea</p>
						<!--<form method="post" action="#">-->
						<!--	<div class="field half first">-->
						<!--		<input type="text" name="name" id="name" placeholder="Name" />-->
						<!--	</div>-->
						<!--	<div class="field half">-->
						<!--		<input type="email" name="email" id="email" placeholder="Email" />-->
						<!--	</div>-->
						<!--	<div class="field">-->
						<!--		<textarea name="message" id="message" placeholder="Message"></textarea>-->
						<!--	</div>-->
						<!--	<ul class="actions">-->
						<!--		<li><input type="submit" value="Send" class="special" /></li>-->
						<!--	</ul>-->
						<!--</form>-->
					</section>
					<section>
						<h2>Follow</h2>
						<ul>
							<a href="https://www.facebook.com/doosik.bae"><img src="{% static "portfolio/assets/facebook40x40.png" %}" />&nbsp&nbsp</a>
							<a href="https://www.instagram.com/doo_sik/"><img src="{% static "portfolio/assets/instagram40x40.png" %}"/>&nbsp&nbsp</a>
                            <a href="https://github.com/baidoosik"><img src="{% static "portfolio/assets/github.png" %}"/></a>

							<!--<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>-->
							<!--<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>-->
						</ul>
					</section>
					<ul class="copyright">
						<li>&copy; Bae doosik All rights reserved</li>
						<li>Design Reference. <a href="https://html5up.net/">HTML5up</a></li>
					</ul>
				</div>
			</footer>
		</div>

	<!-- Scripts -->

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

</body>
</html>
