{% extends "portfolio/layout.html" %}
{% block contents %}
{% load imagekit %}
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>JORDAN BAE | 배 두 식 <pre>{% now "Y F d D H:i" %} </pre></h2></a>

					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <div id="main">
	<div class="inner">
		<header>
			<!--<form action='/index/' method="GET">-->
	  		  <ul class="actions">
	  		  	<li><a href="{% url "portfolio:main_view" %}" class="button special small searchtag">All</a></li>
	  		  	<li><a href="{% url "portfolio:elec" %}" class="button small searchtag">Electronic Eng</a></li>
	  		  	<li><a href="{% url "portfolio:startup" %}" class="button small searchtag">Start-up</a></li>
	  		  	<li><a href="{% url "portfolio:project" %}" class="button small searchtag">Project</a></li>
                <li><a href="{% url "portfolio:experience" %}" class="button small searchtag">Experience</a></li>
                <li><a href="{% url "portfolio:resume" %}" class="button small searchtag">RESUME</a></li>
	  		  </ul>
  		  <!--</form>-->
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>
                <h2> {{ post.title }}</h2>
                <h3>{{ post.category }} 2016.12.5 ~12.10</h3>
                <div class="row uniform">
                {% if post.photo1 %}
                    {% thumbnail "600x600" post.photo1 %}
                {% endif %}
                {% if post.photo2 %}
                    {% thumbnail "600x600" post.photo2 %}
                {% endif %}
                </div>
                <p>This is a documentary film about contrasting worlds on two diffrent streets, Baekbeom-ro and Daheung-ro. I try to capture the images and stories of a disappering street, Daheung-ro in comparison with Baekbeom-ro. Baekbeom-ro is a fancy and busy downtown street where everyone is anonymous in a crowd. Conversely, Daheung-ro is an undeveloped and shabby street embracing individual human stories.  </p>
                <p>반경 500m 거리 이내에 위치하지만 전혀 다른 두 모습을 가지고 있는 두 거리, 백범로, 대흥로를 걸으며 느끼는 이질적인 감성, 그 속에 담긴 이야기와 사라져가는 대흥로의 모습을 다큐멘터리로 풀어내었다.깔끔하고 화려한 백범로의 모습과 달리 대흥로는 낡고 허름하다. 그러나 백범로가 한 명의 인간이 수 십명의 군중속에 너무나 쉽게 익명으로 묻혀버리는 곳이라면 대흥로는 구멍가게 하나 하나에 주인할머니, 할아버지의 고유한 스토리가 담겨있고 좁은 길을 지나는 행인 한 명 한명이 고유한 인간으로 드러나는 곳이다. 재개발 허가가 떨어진 후 완전히 사라지게 될 대흥로의 낡고 허름하지만 정감있는 모습들을 마지막으로 영상에 담아내었다. </p>
            </div>
    </div>
    </div>
{% endblock %}