
<!DOCTYPE html>
<html>
<head>


	<link rel="stylesheet" media="all" href="/assets/application-4e6df03ec8675a69ceb20dadb3528a74175328080f8840d138bca03beaaacb56.css" data-turbolinks-track="true" />
	<script src="/assets/application-f5fc3bf044b608203ff7d67454822b1f989499b58dd990dc003a53f25bc46e7d.js" data-turbolinks-track="true"></script>
	<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="PzdBwlhUCtJ9z4EUbej9KLGMDrrgWj6DSrB/qUwNH0dG2Zyhl33k345RCVqEyexlf6X2RCF723yWtdqGZhYIIQ==" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!--[if lte IE 8]><script src="https://s3.ap-northeast-2.amazonaws.com/portfolio37/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" media="screen" href="/assets/main-e01b9a41375a4152000666f908a4d3dc2c68f3774e4dd904d108718f45d27c33.css" />
	<!--[if lte IE 9]><link rel="stylesheet" media="screen" href="/assets/ie9-426537096aa08fb6d8f2a0c9673f7e41b020509b48bd39a3ae503ae2536176c6.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="/assets/ie8-8c87ca00e45f53d90a6c5c87acf8f5dae7b0a8092eebc79ba252e0eb9ccd28ce.css" /><![endif]-->

	<title>Bae Doosik</title>
	<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
	<style>

		.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	</style>
</head>
<body>
  <!-- Wrapper -->
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>Bae Doosik | 배두식</h2></a>
					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>About</h1>
			<div class="row uniform">
				<p>I am a designer, an inventor and a developer. I love creating. I've done several projects where art, humanity and technology converge into. My goal is to be a better creator who bridges art and design, science and technology navigating both poles and the space lies between them.</p>
				<div class="5u">
					<span class="image fit"><img src="profile_image.jpg/assets/"/></span>
				</div>
				<div class= "7u">
					<h3>Education</h3>
					<p><em><strong>Sogang University</strong>, Seoul, South Korea</em>
					<br><em>2012.03 ~ 2017.02</em><br>
					- Bachelor's Degree in Art & Technology
					<br>
					- Bachelor's Degree in Convergence Software</p>
					<p><em><strong>University of Technology, Sydney</strong>, Sydney, Australia</em>
					<br><em>2015.02 ~ 2015.06</em>
					<br>- Exchange Student
					</p>
					<em><strong>Gwahcheon Foreign Language High School</strong>, Gwahcheon, South Korea</em>
					<br><em>2009.03 ~ 2012.02</em><br>
					<br><br>
					<h3>Interests</h3>
					<p>humanity, art, design, interaction, education, VR, start-up, eco-design, eco-technology, green technology, health</p>
					<br>
					<!--<h3>Contact</h3>-->
					<!--<p><strong>Phone</strong>&nbsp +82)10-8279-7736-->
					<!--<br><strong>Email</strong>&nbsp kimseyeong93@gmail.com</p>-->
				</div>
		</div>
	</div>
	</div>
  	<!-- Menu -->
  		<nav id = "menu">
  			<h2>Menu</h2>
  			<ul>
  				<li><a href="/about">About</a></li>
  				<li><a href="/">Works</a></li>
  				<!--<li><a href="generic">Drawings</a></li>-->
  				<li><a href="/awards">Awards & Honours</a></li>
  				<!--<li><a href="/#">CV</a></li>-->
  				<!--<li><a href="elements">Elements</a></li>-->
  			</ul>
  		</nav>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<section>
						<h2>Get in touch</h2>
						<p><strong>Phone</strong>&nbsp +82)10-8279-7736
						<br><strong>Email</strong>&nbsp kimseyeong93@gmail.com</p>
						<p>Currently lives in Seoul, South Korea</p>
						<!--<form method="post" action="#">-->
						<!--	<div class="field half first">-->
						<!--		<input type="text" name="name" id="name" placeholder="Name" />-->
						<!--	</div>-->
						<!--	<div class="field half">-->
						<!--		<input type="email" name="email" id="email" placeholder="Email" />-->
						<!--	</div>-->
						<!--	<div class="field">-->
						<!--		<textarea name="message" id="message" placeholder="Message"></textarea>-->
						<!--	</div>-->
						<!--	<ul class="actions">-->
						<!--		<li><input type="submit" value="Send" class="special" /></li>-->
						<!--	</ul>-->
						<!--</form>-->
					</section>
					<section>
						<h2>Follow</h2>
						<ul class="icons">
							<li><a href="https://www.facebook.com/srkim7733" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/seyeongkim93" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<!--<li><a href="https://github.com/seyeongkim" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>-->
							<li><a href="https://kr.linkedin.com/in/seyeong-kim-2a7503b0" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<!--<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>-->
							<!--<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>-->
						</ul>
					</section>
					<ul class="copyright">
						<li>&copy; Kim Seyeong. All rights reserved</li>
						<li>Design Reference. <a href="https://html5up.net/">HTML5up</a></li>
					</ul>
				</div>
			</footer>
		</div>

	<!-- Scripts -->

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

</body>
</html>

