{% extends 'portfolio/layout.html' %}
{% load static %}

{% block contents %}

  <!-- Wrapper -->
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>Bae Doosik | 배두식</h2></a>
					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>About</h1>
			<div class="row uniform">
                <p>I am a engineer, an inventor and a developer.
                    I love thinking and making new things. I was ready to make start-up for 1 years. and I've done several projects where humanity and technology connecting.
                    <br>My goal is to be a better creator who help people and make people happy .</br>
                </p>
				<div class="5u">
					<span class="image fit"><img src="{% static "portfolio/assets/profile_image.jpg" %}"alt="Me 25dc7976c9c7d2f48ab8ec52782671471fd1b410e52ca095ff03880960ba9ae3" /></span>
				</div>
				<div class= "7u">
					<h3>Education</h3>
					<p><em><strong>Sogang University</strong>, Seoul, South Korea</em>
					<br><em>2011.03 ~ 2017.02</em><br>
					- Bachelor's Degree in Electronic Engineering
					</p>
					<p><em><strong>Start up</strong></em>
					<br><em>2016.3~2016.12 </em>
					<br>- Start-up Club Program in Sogang Univ
                    <br><em>2016.9~2016.12 </em>
					<br>- Start-up Survival Program in Sogang Univ
					</p>
					<em><strong>LG DISPLAY</strong>&nbsp ,OLED TV Circuit Engineer</em>
					<br><em>2017.01 ~ </em><br>
					<br><br>
					<h3>Interests</h3>
					<p>humanity, art, design, interaction, education, VR, start-up, eco-design, eco-technology, green technology, health</p>
					<br>
					<!--<h3>Contact</h3>-->
					<!--<p><strong>Phone</strong>&nbsp +82)10-8279-7736-->
					<!--<br><strong>Email</strong>&nbsp kimseyeong93@gmail.com</p>-->
				</div>
		</div>
	</div>
	</div>

{% endblock %}
