{% extends 'portfolio/layout.html' %}
{% load static  %}
{% block contents %}
{% load imagekit %}
<!-- Wrapper -->
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>JORDAN BAE | 배 두 식 <pre>{% now "Y F d D H:i" %} </pre></h2></a>

					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <div id="main">
	<div class="inner">
		<header>
			<!--<form action='/index/' method="GET">-->
	  		  <ul class="actions">
                <li><a href="{% url "portfolio:profile" %}" class="button special small searchtag">About</a></li>
	  		  	<li><a href="{% url "portfolio:main_view" %}" class="button small searchtag">All</a></li>
	  		  	<li><a href="{% url "portfolio:elec" %}" class="button small searchtag">Electronic Eng</a></li>
	  		  	<li><a href="{% url "portfolio:startup" %}" class="button small searchtag">Start-up</a></li>
	  		  	<li><a href="{% url "portfolio:project" %}" class="button small searchtag">Project</a></li>
                <li><a href="{% url "portfolio:experience" %}" class="button small searchtag">Experience</a></li>
                <li><a href="{% url "portfolio:resume" %}" class="button small searchtag">RESUME</a></li>
	  		  </ul>
  		  <!--</form>-->
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>

		<section class="tiles">
            {% for post in form %}
                <article class={% cycle 'style1' 'style2' 'style3' 'style4' 'style5' 'style6'%}>
                        <span class="image">
                            <img src="{{ post.photo1.url }}" style="max-width: 100%" />
                        </span>
                    <a href="{% url post.url %}">
                        <h2>{{ post.title  }}</h2>
                        <div class="content">
                            <p>{{ post.summary }}</p>
                        </div>
                    </a>
                </article>
            {% endfor %}

		</section>
	</div>
</div>

{% endblock %}