{% extends "portfolio/layout.html" %}
{% block contents %}
{% load static %}
{% load imagekit %}
	<div id="wrapper">
    <!-- Header -->
		<header id="header">
			<div class="inner">
					<!-- title -->
					<a href="/"><h2>JORDAN BAE | 배 두 식 <pre>{% now "Y F d D H:i" %} </pre></h2></a>

					<!--<a href="generic">About</a>-->
		  	<!--		<a href="index">Works</a>-->
		  				<!--<li><a href="generic">Drawings</a></li>-->
		  	<!--		<a href="generic">Awards</a>-->
		  	<!--		<a href="generic">CV</a>-->
		  	<!--		<a href="elements">Elements</a>-->
				<br><br>

      	<!-- Nav -->
    		<nav>
    			<ul>
    				<li><a class = 'menu' href="#menu">Menu</a></li>
    			</ul>
    		</nav>
			</div>

		</header>
    <div id="main">
	<div class="inner">
		<header>
			<!--<form action='/index/' method="GET">-->
	  		  <ul class="actions">
                <li><a href="{% url "portfolio:profile" %}" class="button special small searchtag">About</a></li>
	  		  	<li><a href="{% url "portfolio:main_view" %}" class="button small searchtag">All</a></li>
	  		  	<li><a href="{% url "portfolio:elec" %}" class="button small searchtag">Electronic Eng</a></li>
	  		  	<li><a href="{% url "portfolio:startup" %}" class="button small searchtag">Start-up</a></li>
	  		  	<li><a href="{% url "portfolio:project" %}" class="button small searchtag">Project</a></li>
                <li><a href="{% url "portfolio:experience" %}" class="button small searchtag">Experience</a></li>
                <li><a href="{% url "portfolio:resume" %}" class="button small searchtag">RESUME</a></li>
	  		  </ul>
  		  <!--</form>-->
			<!--<h1>This is Phantom, a free, fully responsive site<br />-->
			<!--template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
			<!--<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>-->
		</header>
                <h2> {{ post.title }}</h2>
                <h3>{{ post.category }} 2016.11.20 ~11.25</h3>
                <div class="row uniform">
                {% if post.photo1 %}
                    {% thumbnail "600x600" post.photo1 %}
                {% endif %}
                {% if post.photo2 %}
                    {% thumbnail "600x600" post.photo2 %}
                {% endif %}
                </div><br>
                <p>One day i had big trouble in my home. At that time some of guest came my house. so i turned on the water to minize my trouble sound.
                i usually use this way. i always think this is waste of water ! And i heard some of friends use this way. So i think if many people save this water, it help water saving.
                so, i determine to make appplication which makes water sounds. and go a little further, i thought this app is equipped with all of function to use in toilet, sns, webtoon, news and so on.</p>
                <p>저는 보통 집에 손님이 있거나 편한 자리가 아닌 경우 화장실에서 물을 틀어 놓고 볼 일을 해결합니다. 그 날도 역시 집에 손님들이 있어 물을 틀고 볼일을 해결하던 중에
                나와 같은 사람이 많다면 많은 양이 물이 낭비가 되고 있지 않을까 생각을 했고, 주변 친구들 중에 몇몇이 저와 같은 방법을 이용하고 있다는 것을 확인했습니다 그리고 물소리나는 어플을 만들어야 겠다고 생각했고 이를
                만들던 중에 화장실에서 보통 사람들이 이용하는 서비스들을 모아두면 보다 편리하지 않을까 하는 생각에 어플리케이션을 기획하고 개발한 프로젝트입니다.</p>
                <p></p>
                <h2>과 정</h2>
                <h3>홍보</h3>
                <h4>아직 홍보게시글과 동영상은 제작하지 않은 상태.</h4>
                <h3>프로젝트 솔루션</h3>
                <table>
                    <li>물소리나는 기능을 메인 기능으로 설계.</li>
                    <li>그 밖의 기능을 자주이용하는 기능순으로 카테고리별(SNS/동영상/웹툰/뉴스)로 분류.</li>
                    <li>SOS 기능은 화장지가 없을 때 어떻게 대처해야하는지 동여상을 연결(재미요소)</li>
                </table><br>
                <h3>프로젝트 성과</h3>
                <img src="{% static 'portfolio/assets/toilet_popular.png' %}"/>
                <table>
                    <li>현재 92명의 사람들이 설치. </li>

                </table>
            </div>
    </div>
    </div>
{% endblock %}