*.pyc
__pycache__
/media
/myvenv
/mysite/settings/common.py
db.sqlite3
.DS_Store
*.json
key.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
