*.pyc
__pycache__
db.sqlite3
.DS_Store
*.json
key.txt

# virtualenv
.venv/
venv/
ENV/

# pyenv
.python-version

# IPython Notebook
.ipynb_checkpoints

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
