{% extends 'portfolio/layout.html' %}
{% block contents %}
    <h1 style="text-align:center;">Hi~!</h1>
    <h2 style="text-align: center;">Some error occured(500)</h2>
    <h2 style="text-align: center;">if you have a time, contact me!</h2>
    <h1 style="text-align: center;color:pink;"><a href="{% url 'portfolio:main_view' %}">홈 주소</a></h1>
    <br><br>
    <h1 style="text-align: center">안녕하세요~!</h1>
    <h2 style="text-align: center">이 페이지에 문제가 발생했습니다. 저에게 연락주시면 바로 수정하겠습니다 !</h2>
    <h2 style="text-align: center">먼저 홈 주소로 이동해주세요~!</h2>

{% endblock %}